@import "../styles/Styles.scss";

.advice-generator-container {
    background: $DARK_GRAYISH_BLUE;
    width: 450px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px 50px 30px;
}

.divider-mobile {
    display: none;
}

@media screen and (max-width: $MOBILE) {
    .advice-generator-container {
        width: 75vw;
        border-radius: 10px;
        padding: 50px 30px 50px 30px;
    }

    .divider-desktop {
        display: none;
    }

    .divider-mobile {
        display: block;
    }
}