@import "../styles/Styles.scss";

.advice-generator-container {
    background: $DARK_GRAYISH_BLUE;
    width: 450px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px 50px 30px;
}