@import "../styles/Styles.scss";

.generate-advice-button {
    position: absolute;
    background-color: $NEON_GREEN;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: 0;
    transition: all 0.2s ease-in-out;
    transform: translateY(295%);
}

.generate-advice-button:hover {
    box-shadow: 0 0 45px rgba(82, 255, 168, 1);
}